{% extends 'core/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
    <div class="py-4 px-4 whitespace-pre-line">
        <h1 class="text-center font-bold text-2xl">About Us</h1>
        <h2 class="font-semibold -mb-5">Who we are:</h2>
        <p class="text-sm">We are an organic cannabis micro-farm striving for perfection in the indoor organic cannabis space.</p>
        <h2 class="font-semibold -mb-5">What is organic cannabis?</h2>
        <p class="text-sm">Organic cannabis is cannabis that is grown without the use of synthetic pesticides, fertilizers, or other artificial chemicals. Instead, it is grown using natural methods and materials, such as compost and natural pest control methods, to produce a product that is pure and free of harmful chemicals. Because organic cannabis is grown without the use of synthetic chemicals, it is often considered to be of higher quality and is sought after by many consumers for its purity and potential health benefits.</p>
         <h2 class="font-semibold -mb-5">Why should you care about organic cannabis?</h2>
        <p class="text-sm">Organically grown cannabis is becoming increasingly popular among consumers who are looking for a healthier and more sustainable option. While cannabis grown with synthetic fertilizers may be more convenient and cost-effective for growers, it can have negative effects on both the quality and safety of the final product.

One of the main benefits of consuming organically grown cannabis is the improved quality of the plant. Organic growing methods rely on natural fertilizers and pesticides, which can enhance the flavor and aroma of the cannabis. In contrast, cannabis grown with synthetic fertilizers can often have a harsh, chemical taste.

Probably the most important benefit of organic cannabis is that it is safer for consumers. Synthetic fertilizers and pesticides used in non-organic growing methods can contain harmful chemicals that can potentially be ingested by the consumer. In contrast, organic growing methods use natural fertilizers and pesticides that are safer for both the plant and the consumer.

In addition to the improved taste and safety of organic cannabis, there are also several other benefits of consuming this type of product. For example, organic growing methods often produce cannabis with a higher concentration of beneficial compounds like terpenes and cannabinoids. These compounds are responsible for the therapeutic effects of cannabis, and a higher concentration can provide a more potent and effective experience for the consumer.

Another benefit of organic cannabis is its sustainability. Synthetic fertilizers and pesticides can have negative effects on the environment, including soil and water contamination. In contrast, organic growing methods are more sustainable and can help protect the environment. Additionally, supporting organic cannabis growers can also have a positive impact on the industry as a whole. By choosing to purchase organic cannabis products, consumers can help support growers who are using sustainable and environmentally-friendly methods. This, in turn, can help encourage more growers to switch to organic methods and promote the overall growth of the organic cannabis industry.

Overall, consuming organically grown cannabis has numerous benefits, including improved quality, safety, and sustainability. By choosing to purchase organic cannabis products, consumers can support sustainable growing practices, experience improved therapeutic effects, and enjoy a better overall experience. While it may be more expensive and time-consuming for growers to produce, it is worth it for the improved product and peace of mind for consumers.

</p>
    </div>
{% endblock %}



