<!doctype html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>

        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">

        <title>{% block title %}{% endblock %}</title>

    </head>
    <body>
        <nav class="py-3 px-6 flex justify-between bg-green-500">
            <a href="{% url 'index' %}" class="py-4 px-4 bg-green-600 hover:bg-green-700 rounded-xl text-white">Home</a>
            <a href="/" class="py-3 text-3xl text-white">Best Buds</a>
            <a href="{% url 'about' %}" class="py-4 px-4 bg-green-600 hover:bg-green-700 rounded-xl text-white">About</a>
        </nav>

        {% if messages %}
            <div class="py-6 px-6">
                {% for message in messages %}
                    <div class="py-4 px-4 bg-green-300 rounded-xl">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% block content %}
        {% endblock %}

        <footer class="py-8 mt-8 bg-gray-200 text-center">
            <p class="text-xs text-gray-700" >Copyright (c) 2022 - Best Buds</p>
        </footer>
    </body>
</html>